.event{ background:url("event.png") top left no-repeat; }
.event_r2_c4{ width:316px; height:31px; background-position:-10px -10px; }
.event_r2_c4_1{ width:316px; height:31px; background-position:-10px -51px; }
.event_r2_c2{ width:75px; height:31px; background-position:-10px -92px; }

